/Absence.class
/AnneeUniversitaire.class
/Creneau.class
/Doctype.class
/Document.class
/Etudiant.class
/Filiere.class
/Gender.class
/Matiere.class
/Module.class
/Professeur.class
/Reservation.class
/Role.class
/Salle.class
/Schedule.class
/Semestre.class
/Session.class
/Typesalle.class
/User.class
