<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.password">@MYsql2020</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/administration</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect"> org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		

        
		<mapping class="beans.Salle"  />
		<mapping class="beans.Reservation"/>
		<mapping class="beans.User" />
		<mapping class="beans.Etudiant"/>
		<mapping class="beans.Creneau"/>
		<mapping class="beans.Absence"/>
		<mapping class="beans.AnneeUniversitaire"/>
		<mapping class="beans.Typesalle"/>
		<mapping class="beans.Filiere"/>
		<mapping class="beans.Role"/>
		<mapping class="beans.Matiere"/>
		<mapping class="beans.Module"/>
		<mapping class="beans.Session"/>
		<mapping class="beans.Semestre"/>
		<mapping class="beans.Doctype"/>
		<mapping class="beans.Gender"/>
		<mapping class="beans.Schedule"/>
		<mapping class="beans.Document"/>
		<mapping class="beans.Professeur"/>
		
		
	</session-factory>
</hibernate-configuration>
